<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://www.autobild.es/sites/autobild.es/public/styles/main_element/public/dc/fotos/Lamborghini_Huracan_STO09_0.jpg?itok=RsWwF7gI" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">AVENTADOR LP 780-4 ULTIMAE</h5>
              <p class="card-text">El Aventador fue creado con el objetivo de adelantarse al futuro, como se refleja en el uso de tecnologías innovadoras, tales como el motor V12, y en el uso de la fibra de carbono.
                Verdaderas obras maestras de diseño que expresan dinamismo y agresividad y que han hecho del monocasco de carbono su punta de lanza. El interior del Aventador combina tecnologías de altísimo nivel y equipamientos de lujo con materiales de altísima calidad magistralmente elaborados, como exige la mejor tradición italiana. Una familia de superdeportivos que ya es leyenda. Descubra las fichas técnicas, las dimensiones, las prestaciones y las características detalladas de los nuevos modelos Lamborghini Aventador. </p>
              <a href="https://www.lamborghini.com/es-en/modelos" class="btn btn-primary">Ver Detalle</a>
            </div>
          </div>
        
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://media.revistagq.com/photos/60915663089b2ad8c546730a/master/w_1600,c_limit/bugatti-bolide.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bugatti Bolide</h5>
              <p class="card-text">Prototipo inspirado en los coches de carreras de las 24 Horas de Le Mans que lleva a su máxima expresión las prestaciones, el rendimiento de Bugatti en circuito y todo el músculo como fabricante de automóviles de lujo. Cuenta con un motor 8.0 W16 de 1.850 CV unido a un carrocería de carbono de apenas 1.240 kilogramos.</p>
              <a href="https://www.revistagq.com/la-buena-vida/articulo/mejores-coches-deportivos-2020-tesla-porsche-bmw-aston-martin-jaguar-mazda" class="btn btn-primary">Ver Detalle</a>
            </div>
          </div>
        
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://assets.iprofesional.com/cdn-cgi/image/w=880,f=webp/https://assets.iprofesional.com/assets/jpg/2020/03/492392.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lotus Evija</h5>
              <p class="card-text">e trata de un modelo del segmento de los autos deportivos pero de tipo eléctrico, con tracción integral y con un pack de baterías desarrollado especialmente por Williams, que llega a una potencia máxima de 2.000 CV, increíble para un eléctrico.</p>
              <a href="https://www.iprofesional.com/autos/321879-los-autos-deportivos-mas-impresionantes-del-mundo" class="btn btn-primary">Ver Detalle</a>
            </div>
          </div>
        
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://www.infobae.com/new-resizer/6LAPgr84F1FbTqJRH4En0OPf0oE=/768x432/filters:format(webp):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/4GSUPRZXXREO7A3YKFIT3W2RMM.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">La Bugatti</h5>
              <p class="card-text">Son los más exclusivos del extracto más vanguardista que la industria puede generar. Engloban caprichos exuberantes y resoluciones extremadamente excéntricas para satisfacer una clientela tan VIP como anónima. </p>
              <a href="https://www.infobae.com/autos/2020/01/26/el-ranking-de-los-suenos-cuales-son-los-10-autos-mas-caros-del-mundo/" class="btn btn-primary">Ver Detalle</a>
            </div>
          </div>
        
    </div>
</div>

